.navBar {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.3rem;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
}

.navBar a {
  text-decoration: none;
  color: inherit;

  padding: 5px 15px;
  text-align: center;
  margin-right: 5px;
}

.navBar a:hover {
  background-color: black;
  color: white;
}

.linkArea {
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .navBar a {
    display: block;
    width: 100%;
    border-bottom: 2px solid black;
  }

  .navBar {
    text-align: center;
    padding: 0;
    display: inherit;
    border-top: 2px solid black;
  }
  .signInArea {
    height: 40px;
    display: block;
    border: 0px;
  }
  .linkArea {
    display: block;
  }
}
