.header,
.footer {
  background-color: #7e7e7e;
  text-align: center;
}

.contentArea {
  background-color: #ebffe3;
  flex-grow: 1;
  padding-bottom: 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.footer {
  flex-shrink: 0;
  border-top: 3px solid black;
  height: 45px;
  padding-top: 10px;
}

.header {
  padding-top: 5px;
  font-size: 3rem;
  text-decoration: underline;
  padding-bottom: 5px;

  position: relative;
}
@media (min-width: 600px) {
  .header {
    height: 85px;
  }
  .footer {
    flex-shrink: 0;
    border-top: 3px solid black;
    height: 45px;
    padding-top: 10px;
  }
  .headerImage,
  .headertext {
    position: absolute;
  }

  .headerImage {
    left: 5px;
    top: 0px;
  }
}
