.innerGameArea {
  background: inherit;
  text-align: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  margin-top: 10px;
}

.innerGameArea input {
  margin-right: 10px;
}

.innerGameArea button {
  margin-top: 30px;
}

.imageArea {
  margin-bottom: 10px;
}

.submitButton {
  height: 50px;
  width: 125px;
  border-radius: 25px;
  border: 2px solid black;
  box-shadow: 4px 3px 1px #424242;
  font-size: 1.1rem;
}

.submitButton:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.radioForm div {
  text-align: left;
}

.radioForm {
  width: 30%;
}
.radioOption {
  align-self: left;
}
.formArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .radioForm {
    width: 70%;
  }
}
